
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}


body{
	overflow-x: hidden;
}

#starter-div{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: white;
	animation-name: slideLeft;
	transform: translateX(0%);
	animation-duration: 1s;
	animation-delay: 8s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.word{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.word1{
    margin-left: -400px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.word2{
    margin-left: -50px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.word3{
    margin-left: 350px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.word4{
    margin-top: 100px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.word span{
    display: inline-block;
    color: black;
    font-weight: 500;
    font-size: 50px;
    position: relative;
    letter-spacing: 20px;
    animation: fall 3.5s forwards;
    transform: translateY(-100vh);
}

@keyframes fall{
    100%{
        transform: translateY(0);
    }
    
}
.word span:nth-child(2){
    animation-delay: 0.5s;
}
.word span:nth-child(3){
    animation-delay: 1s;
}

.word span:nth-child(4){
    animation-delay: 1.5s;
}

.word span:nth-child(5){
    animation-delay: 2s;
}


.word span:nth-child(6){
    animation-delay: 2.5s;
}

.word span:nth-child(7){
    animation-delay: 3s;
}

.word span:nth-child(8){
    animation-delay: 3.5s;
}

.word span:nth-child(9){
    animation-delay: 4s;
}

.word span:nth-child(10){
    animation-delay: 4.5s;
}
.word span:nth-child(11){
    animation-delay: 5s;
}

.word span:nth-child(12){
    animation-delay: 5.5s;
}

.word span:nth-child(13){
    animation-delay: 6s;
}

.word span:nth-child(14){
    animation-delay: 6.5s;
}

.word span:nth-child(15){
    animation-delay: 7s;
}


.word span:nth-child(16){
    animation-delay: 7.5s;
}
.word span:nth-child(17){
    animation-delay: 8s;
}

.word span:nth-child(18){
    animation-delay: 8.5s;
}

.word span:nth-child(19){
    animation-delay: 9s;
}

.word span:nth-child(20){
    animation-delay: 9.5s;
}

.word span:nth-child(21){
    animation-delay: 10s;
}

.word span:nth-child(22){
    animation-delay: 10.5s;
}
.word span:nth-child(23){
    animation-delay: 11s;
}

.word span:nth-child(24){
    animation-delay: 11.5s;
}

.word span:nth-child(25){
    animation-delay: 12s;
}

.word span:nth-child(26){
    animation-delay: 12.5s;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}



/* Header section */
#navBar{
	position: sticky;
	top:0%;
	z-index: 2;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
	padding-right: 100px;
    background-image: linear-gradient(60deg, 	#3c6f96 0%, #5b576e 100%);
}
#logo h1{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 30px;
	right: 400px;
}
#navBar a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 40px;
}
#navBar a::after{
    content: "";
	display: block; 
    background-color:  #3A354D;
    height: 3px;
    width: 0;
    transition: 0.3s;
    border-radius: 5px;
}
#navBar a:hover{
    color: white;
	
}
#navBar a:hover:after{
    width: 100%;
	transition: .3s;
}

#logo{
	height: 80px;
}

.playbtn
{
	position: relative;
    text-decoration: none;
	background: none;
	border: none;
    color: #a0a0a0;
    font-size: 18px;   
	
}
.playbtn:hover
{
	color: white;
}

.loginbtn
{
	position: relative;
    text-decoration: none;
	background: none;
	border: none;
    color: #a0a0a0;
    font-size: 18px;   
}

.loginbtn:hover
{
	color: white;
}

.loginbtn:hover:after
{
	width: 100%;
}
#login-wrapper{
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 11;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100vh;

}

#login-form
{
    display: block;
}
.form-box
{
	position:absolute;
	top: 500px;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 500px;
	width:400px;	
	background:rgba(0,0,0,0.3);
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #3A354D;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
	color: #fff;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(60deg, 	#3c6f96 0%, #5b576e 100%);
	border-radius: 30px;
	transition: .5s;
}
.input-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(60deg, 	#3c6f96 0%, #5b576e 100%);
	color: #fff;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}

/* End Header section */

/* Slide Animation */
@keyframes slideLeft {
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(-200%);
	}
}
/* End Slide Animation*/

/* Hero Section */
.carousel-container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 1000px;
}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 5%;
    font-size: 30px;
    color: white;  
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 1;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


/* End Hero Section */

/* Projects section */
.title{
	color: black;
	margin-top: 100px;
	font-size: 50px;
}
.projects {
	flex-direction: column;
	max-width: 70%;
	margin: 0 auto;
	padding-bottom: 200px;
}
.projects-header h1 {

	margin-bottom: 50px;
}
.project1 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	bottom: -75px;
}
.project2 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -75px;
}
.project3 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -75px;
}

.project4 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -75px;
}
.project5 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -75px;
}
.project6 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -75px;
}
.project7 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -75px;
}
.project8 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -75px;
}

.project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 10px auto;
	overflow: hidden;
	border-radius: 10px;
	height: 400px;
	width: 100%;
	flex-direction: row;
}
.project-info {
	padding: 60px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #3c6f96 0%, #5b576e 100%);
	color: white;
	
}
.project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}

.project-info p {
	margin-top: 20px;
	color: white;
}
.img1 {	
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	bottom: -435px;
	right: -365px;	
	
}
.img2 {	
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	bottom: 30px;
	right: -365px;	
	
}
.img3 {	

	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	bottom: -435px;
	right: -365px;	
	
}
.img4 {	
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	bottom: -435px;
	right: -365px;	
	
}
.img5 {	
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	bottom: -435px;
	right: -365px;	
	
}
.img6 {	
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	bottom: -435px;
	right: -365px;	
	
}
.img7 {	
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	bottom: -435px;
	right: -365px;	
	
}
.img8 {	
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	bottom: -435px;
	right: -365px;	
	
}
/* End Projects section */

/* contact section */
#contact{
	position: relative;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19); 
	margin-bottom: 80px;
}
.content{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 20px;

}

.topic{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-weight: 500;
	color: black;
	letter-spacing: 1vh;
	margin-bottom: 45px;
}
.content form{
	width: 40%;
	margin-right: 30px;
}

.input-box{
	height: 50px;
	width: 100%;
	margin: 16px 0;
	position: relative;
	margin-bottom: 40px;
}

.input-box input{
	position: absolute;
	height: 100%;
	width: 100%;
	font-size: 20px;
	outline: none;
	padding-left: 16px;
	border: 2px solid transparent;
	background-color: rgba(230, 230, 230, 0.6);
	transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
	border: none;
}
.input-box label{
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 17px;
	pointer-events: none;
	color: black;
	transition: all 0.3s ease;
	letter-spacing: 5px;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
	top: -15px;
	left: 12px;
	color: black;
	display: 14px;
	font-size: 12px;
}

.message-box{
	height: 100px;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
	margin: 16px 0;
}
.message-box textarea{
	position: absolute;
	height: 100%;
	width: 100%;
	font-size: 20px;
	outline: none;
	padding-left: 16px;
	border: 2px solid transparent;
	background-color: rgba(230, 230, 230, 0.6);
	transition: all 0.3s ease;
 
}
.message-box textarea:focus{
	border: none;
 
}
.message-box label{
	position: absolute;
	left: 18px;
	top: 20%;
	transform: translateY(-50%);
	font-size: 17px;
	pointer-events: none;
	color: black;
	transition: all 0.3s ease;
	letter-spacing: 5px;
 
}
.message-box textarea:focus ~ label{
	top: -15px;
	left: 12px;
	color: black;
	display: 14px;
	font-size: 12px;
 
}

.Button{
	text-align: center;
	margin-top: 30px;
	width: 100%;
	margin-left: -10px;

}
.btn{
	border: 2px solid #2C3246;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
	margin: 10px;
	transition: 1s;
	position: relative;
	overflow: hidden;
	width: 100%;
	letter-spacing: 5px;
 
}
.btn1{
	color: #9195A0;
}
.btn1:hover{
 	color: black;
}
.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #2C3246;
	z-index: -1;
	transition: 1s;
}
.btn1::before{
	bottom: 0;
	border-radius: 50% 50% 0 0;
}
.btn1:hover::before{
 	height: 180%;
}
/* End Contact section */

/* Footer */
#footer {
    position: relative;
	background-image: linear-gradient(60deg, #3c6f96 0%, #5b576e 100%);
    height: 300px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

.social-menu  h3{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 40px;
	font-weight: 500;
	line-height: 3rem;
}
.social-menu  h4{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
	margin-top: 30px;	
}

.social-menu p{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.social-menu ul {
   display: flex;
   justify-content: center;
   align-items: center;
    margin-top: 40px;
 }

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li .fa:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}

/* End Footer */


